<div class="content">
  <div class="container">
    <div class="col">
      <div class="row text-center">
        <h1>LOGO</h1>
      </div>
    </div>
    <div class="row text-center">
      <h1>welcome to vecipet</h1>
    </div>
    <div class="">
      <div class="card-body text-center">
        <alert></alert>
      </div>
    </div>
    <div class="row login-div">
      <form class="form-margin" [formGroup]="loginForm">
        <div class="form-group w-50 mb-2">
          <label for="exampleInputEmail1">Email address</label>
          <input class="form-control" type="email" placeholder="Enter Email Address" formControlName="email"/>
        </div>
        <div class="form-group w-50 mb-2">
          <label for="exampleInputPassword1">Password</label>
          <input class="form-control" type="password" placeholder="Enter Password" formControlName="password"/>
        </div>
        <div class="form-group form-check mt-2">
          <div class="col d-inline-flex">
            <div class="remember">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked/>
              <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>

            <div class="forgot-pass">
              <a href="#!">Forgot password?</a>
            </div>
          </div>
        </div>
        <div class="d-grid mt-2 w-50">
          <button class="form-control" class="btn btn-primary" (click)="login()" type="button">Sign In</button>
        </div>
        <div class="not-a-member">
          <p>Not a member? <a routerLink="/register">Register</a></p>
          <p>or sign up with:</p>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f">t</i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google">t</i>
          </button>

        </div>
      </form>
    </div>
  </div>
</div>
